<html>
    <head>
        <title>
            Attendance System
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    </head>
    <script>
        var image=document.getElementById('imageIn');
        console.log(image);
        function uploadFile(){
            console.log("uploading");
        }
        image.onclick=uploadFile;

    </script>
    <body>
        <div class="ui container">
            <h1>Register a user:</h1><br>
            <form class="ui form" action="/users" method="post" enctype="multipart/form-data">
                Name:
                <div class="ui input">
                    <input type="text" placeholder="Enter Name"  required="required" name="name">
                </div>
                <br><br>
                Email:&nbsp;
                <div class="ui input">
                    <input type="email" placeholder="abc@email.com"  required="required" name="email">
                </div>
                <br><br>
                Image:
                <div class="ui input">
                    <input type="file" placeholder="Search..." accept="/image/*"  required="required" name="info" id="imageIn"><br>
                </div>
                <br><br>
                <button class="ui button" type="submit" id="sub">Submit</button>
            </form>
        </div>
          <form>

              <button class="ui secondary button"  type="submit" formmethod="get" formaction="/users">
                View Users
              </button>
              <table class="ui selectable inverted table">
                    {% if users is defined and users|length > 0 %}
                      <tr><td>id</td><td>name</td><td>email</td></tr>
                    {% endif %}
                  {% for i in users %}
                  <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.email }}</td>
                </tr>
                  {% endfor %}
              </table>
          </form>
    </body>
</html>